---
import {ANIMATION_CATEGORIES} from "../utils/constants.js";
import {formatTitle} from "../utils/formatters";

const START_LINKS = {
  installation: {
    title: "Installation",
    href: "/#installation",
  },
  setup: {
    title: "Setup",
    href: "/#setup",
  },
  usage: {
    title: "Usage",
    href: "/#usage",
  },
  customize: {
    title: "Customize",
    href: "/#customize",
  },
};

---

<aside
 class="md:[grid-area:aside] w-[250px] left-0 text-gray-300 border-r-slate-400/50 border-r hidden md:block md:sticky overflow-y-scroll overflow-x-hidden py-4 bg-[#0D1424]"
>
 <nav class="grid place-items-center">
  <ul class="font-light w-full ps-6">
   <li class="font-semibold mb-4">Getting started</li>
   {
    Object.entries(START_LINKS).map(([key, value]) => (
     <li class="border-l-slate-100 border-l px-4 py-2 md:text-sm">
      <a class="hover:underline" href={value.href}>
       {value.title}
      </a>
     </li>
    ))
   }
  </ul>
  <ul class="font-light w-full ps-6">
   <li class="font-semibold mb-4">Animations</li>
   {
    ANIMATION_CATEGORIES.map((menuItem) => (
     <li class="border-l-slate-100 border-l px-4 py-2 md:text-sm">
      <a class="hover:underline" href={`/#${menuItem.toLowerCase()}`}>
       {formatTitle(menuItem)}
      </a>
     </li>
    ))
   }
  </ul>
 </nav>
</aside>

<style>
 a {
  display: block;
 }

 li:last-child {
  margin-bottom: 1rem;
 }

 .active-tab {
  color: #000;
  display: block;
  background-color: whitesmoke;
  border-radius: 0.5rem;
  font-weight: 600;
  padding-left: 0.25rem;
  padding-block: 0.25rem;
  margin-left: -0.25rem;
  margin-block: -0.25rem;
  width: 200%;
 }
</style>

<script>
 const $anchors = document.querySelectorAll("a");
 window.addEventListener("load", function () {
  const id = location.href.split("#")[1];
  if (id) {
   $anchors?.forEach(($anchor) => {
    $anchor?.classList.remove("active-tab");
    if ($anchor?.hash?.replace("#", "") === id) {
     $anchor.classList.add("active-tab");
    }
   });
  }
 });
 window.addEventListener("hashchange", function () {
  const id = location.href.split("#")[1];
  if (id) {
   $anchors?.forEach(($anchor) => {
    $anchor?.classList.remove("active-tab");
    if ($anchor?.hash?.replace("#", "") === id) {
     $anchor.classList.add("active-tab");
    }
   });
  }
 });
</script>
